.discussion-board-container{
  font-family:'Exo 2', sans-serif;
}
.discussion-board-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 3.8em;
}
.wrapper{
  /*width: 100%;*/
}

/*====----- DISCUSSION BOARD STYLES -----========*/

.panel-heading{
  padding:0;
  border:none;
}

.post-list{
  background: #DFE1DE;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

.post{
  clear: both;
  padding: 1em;
  border-bottom: 1px solid black;
  width: 97.4%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.post:last-child{
  margin-bottom: 1em;
}
.post-user > img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  float: left;
  margin-right: 2em;
}

/*---sort new/popular buttons-------*/
#toggle-pop-new{
  font-family: 'Exo 2', serif;
  color: black;
  border-bottom: 1px solid black;
}

.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover{
  background-color: #DEE0DF; 
  border: 1px solid black; 
  margin:0;
  border-radius: 0;
  color: black;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
  background-color: #DEE0DF; 
  border:1px solid black;
  border-bottom:1px solid transparent;
  font-weight: bold;
  color: black;
}

/*----===== post controls ----=====*/

.post-vote{
  float: left;
  padding: .6em;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  padding-right: 1em;
}

.up-vote {
  height: 20px;
  padding-bottom: 1em;
  text-align: center;

}
.up-count{
  height: 20px;

}

.down-vote {
  height: 20px;;
  text-align: center;

}
.down-count{
  height: 20px;
  padding: 0.4em;
}
.view-post{
  background: #323232;
  color: white;
  padding: 0 1em;
  border-radius:0;
  font-family: 'Exo 2', serif;
  margin-top: 1em;
}

/*=====----- pagination -----=========*/

.pagination{
  padding-left: 2em;
}
.pagination>li>a, .pagination>li>span,
.pagination>li.disabled >a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: white;
  text-decoration: none;
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 0;
}
.pagination>.active>a{
  background-color: gray;
  border-color:black;
}
.pagination>.active>a:hover{
  background-color: black;
  border-color: gray;
  cursor: pointer;
}

/*=====----- RIGHT COLUMN -----=========*/
.contact > h2{
  text-align: center;
  margin-bottom: 1em;
}
.contact-support{
  background-color: #0192D1;
  color: white;
  display: block;
  border: none;
  padding: 0.6em;
  margin: 0 auto;
  border-radius: 0;
}
.contact > h3{
  text-align: left;

  text-align: center;
}



/*ONLINE MEMBERS*/
.online-members{
  position: relative;
  width: 100%;
}

.member-name{
	display:inline-block;
}
.online-members > li {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.online-members > li > label {
  display: block;
  font-size: 0.53em;
  text-align: center;
}

/*user image*/
.user-prof-right{
  height: 65px;
  width: 65px;
  margin: 0.41em;
  border-radius: 100%;
}

/*----===== MEMBER INFO POP UP =====-----*/


.pointer{
  text-align: center;
  position: relative;
  content: '';
  border-style: solid;
  border-width: 0 17px 24px;
  border-color: #DFE1DE transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin: 0 auto;
  margin-top: -1.3em;
  display: none;
  }
.popover-content{
  width: 100%;
}
.popover{
  width: 100%;
}
.user-info > h2 {
  display: inline-block;
}

.user-info > .user-prof {
  margin: 1em;
}


.skills-widgets-left {
  margin: 0 auto;
  width: auto;
  display: inline-block;
  text-align: left;
  margin-left: 2em;
  float: right;
   margin-top: 0; 
  margin-bottom: 1em;
}

.skill-qual-left{
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 1em;
  margin-bottom: 1em;
  background: lightblue;
  border: 2px solid white;
  vertical-align: middle;
  text-align: center;
}

.mini-prof-bottom{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
	font-family:'Exo 2', serif;
}

.btn{
  border-radius: 0;
}
.btn:hover{
  color: white;
  opacity: 0.8;
}
.view-profile{
  background-color: #0192D1;
  color: white;
  font-size: 0.8em;
}
.message-user{
  background-color: #323232;
  color: white;
  font-size: 0.8em;
  margin-right: 1em;
}

