.member-prof-container{
  font-family:'Exo 2', sans-serif;
  margin-bottom: 2em;
}
.member-prof-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 3.8em;
}


/*=====----- Left COLUMN -----=========*/
  .col-left{
    text-align: center;
    margin: 0 auto;
  }
  /******** user image ********/
  .user-prof{
    height: 165px;
    width: 165px;
    margin: 0.41em;
    border-radius: 100%;
  }


  /******** message user ********/
  .message-user{
    background-color: #0180B7;
    color: white;
    font-size: 1.2em;
    padding: 0.3em 2em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0;
}


  /****** user qualifications *****/
  .skills-widgets-left{
    margin: 0 auto;
    width: 65%;
    display: inline-block;
    text-align: left;
    margin-left: 2em;
    float: right;
    margin-top: -2em;
    margin-bottom: 1em;
  }

  .skill-qual-left{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-bottom: 1em;
    background: lightblue;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.4em;
    margin-left: 0.4em;
  }

/****** user overall rating ********/
.user-ovr-rating > span{
  font-size: 1.7em;
}




/*=====----- RIGHT COLUMN -----=========*/

/****** about section *****/
div.about {
  background-color: #D5D7D4;
  margin: 0 auto;
  padding: 0.4em 1em;
}
.about > h2{
  margin-top: 0.3em;
}
.about-body{
  margin: 0 0.2em 1em;
}
/****** photo slider *****/

.photo-slider{
  background-color: #D5D7D4;
  margin: 2em auto 1em;
  padding: 0.4em 1em;
}

/*wrapper for carousel*/
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** ======------ Carousel --========== **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 4px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

.jcarousel-control-next {
    right: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

.jcarousel-control-prev:hover,
.jcarousel-control-prev:active,
.jcarousel-control-prev:focus  {
    left: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

.jcarousel-control-next:hover,
.jcarousel-control-next:active,
.jcarousel-control-next:focus {
    right: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

/*---==== user reviews section ====-----*/

/*overall rating*/
.review-top{
  text-align: left;
  border-bottom: 1px solid black;
  padding: 0 1em;
}

/*list of reviews*/
.reviews{
  background-color: #D5D7D4;
  margin: 0 auto;
  padding: 0.4em 1em;
}
.reviews > h2{
  margin-top: 0.3em;
}

/*individual review*/
.review{
  background-color: white;
  margin-bottom: 1em;
}


/*the actual star for the rating*/
.rating > span{
  color: #005294;
	cursor: default;
}

.rating {
  unicode-bidi: bidi-override;
  display: inline-block;
}

/*Total Rating*/
.review-top > h3{
  display: inline-block;
	padding-left: 1em;
}
.comment-author,
.comment-date{
  float: right;
}
.comment-author{
  font-weight: 300;
  margin-right: 1em;
}
.comment-date{
  font-weight: 100;
}
.review-top > .rating > span{
  font-size: 1.38em;
}

/*category ratings*/
div.review-middle{
  text-align: center;
  padding: 0 1em;
}
.review-middle > .rating{
  margin: 0 3.8em 0 1em;
}

.category-rating > h3 {
  display: inline-block;
  margin-right: 2.4em;
  font-size: 1.0em;
  margin-top: 0.4em;
}

/*review body*/
.review-body{
  padding-bottom: 1em;
}
.review-body > p{
  width: 80%;
  margin: 0.3em auto;
}


/*section spacing*/
.about,
.photo-slider,
.reviews{
  margin-bottom: 2em;
}

h1,h2,h3{
	cursor: default;
}




@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
	.user-prof{
		display: block;
		margin: 0 auto;
	}	
}

@media (max-width: 1000px){
	.user-prof{
		display: block; 
		margin: 0 auto;
	}
	.member-prof-title {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 3.0em;
	text-align:center;
}
}