
/*==========----JOB BOARD PAGE----=======*/
.member-board-container{
  font-family:'Exo2', sans-serif;
}
.member-board-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 3.8em;
}


/*==========----JOB BOARD SORT FORM----=======*/
.skills-form {
  background: #dbdddb;
  padding-left: 20px;
  padding-bottom: 2em;
  text-align: left;
}
.skills-dropdown{
	padding-bottom:1em;
}

#search-job{
  margin-top: 1em;
}
.sort-by{
  font-size: 20px;
}
.skills-form > label{
  display: block;
  margin: 0.5em auto;
}
.other-options{
  margin: 1em auto;
}

input[type=checkbox], input[type=radio] {
  margin: 10px 0 0 !important;
  margin-top: 1px ;
  line-height: normal;
}

/*moves skills away from check boxes*/
.skill-checks{
  margin-left: 1em;
}

.skills-check-list > label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.skills-check-list > input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/*==========----JOB BOARD JOB LISTINGS----=======*/
.user{
  margin-bottom: 2em;
}
.user-title{
  padding: 0.7em;;
  margin: 0;
  background-color: #D4D6D3;
}

.user-title > h2{
  font-size: 2.2em;
  font-weight: 200;
  margin-left: 1em;
  padding-left: 4em;
}

.prof-pic{
  height: 100px;
  width: 100px;
  float: left;
  margin: 1em;
  border-radius: 100%;
  background: white;
}
.prof-pic img{
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.user-body{
  background-color:#D4D6D3;
}
.user-body p{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em 0;
    clear: both;
}

.skills-widgets{
  margin: 0 auto;
  width:80%;
  text-align: left;
  padding-left: 5em;
}

.skill-qual{
  display: inline-block;
  height: 50px;
  text-align: center;
  width: 50px;
  margin: 0 0.5em 0.5em;
  border: 2px solid;
  vertical-align: middle;
}

.skill-1{
  background: darkred;
}
.skill-2{
  background: darkblue;
}
.skill-3{
  background: lightyellow;
}
.skill-4{
  background: lightgreen;
}

.listing-buttons{
  margin: 0 auto 20px;
  padding-bottom: 1em;  
  text-align: center;
  font-family: 'Exo 2', serif;
}

.button:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.view-profile{
  background: #B5B7B6;
  width: 200px;
  font-size: 1.4em;
  color: #606060;
  border: none;
  padding: 0.51em 2em;
}

.message{
  background: #0192D5;
  width: 200px;
  font-size: 1.4em;
  border: none;
  padding: 0.51em 2em;
  color:white;
  margin-left: 2em;
}

/* MEDIA QUEIRIES */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2){
	.skill-qual{
		display: inline-block;
		height: 20px;
		text-align: center;
		width: 20px;
		margin: 0 0.5em 0.5em;
		border: 2px solid;
		vertical-align: middle;
	}	
	.skills-widgets {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding-left: 0em; 
    padding-top: 2em;
  }
	.skills-check-list{
		margin-left:37%;
	}
		
}

@media (max-width: 760px){
  .message{
    margin-left: 0;
    margin-top: 1em;
  }
  .skills-widgets {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding-left: 0em; 
    padding-top: 2em;
  }
	.skills-check-list{
		margin-left:37%;
	}
	.skill-qual{
		display: inline-block;
		height: 20px;
		text-align: center;
		width: 20px;
		margin: 0 0.5em 0.5em;
		border: 2px solid;
		vertical-align: middle;
}
  /*user name*/
  .user-title > h2 {
    font-size: 2.2em;
    font-weight: 200;
    margin-left: 1em;
    padding-left: 0em;
  }
}

.fa-star{
  float:right;
  color: #33ADE1;
  cursor: pointer;
}
.fa-star:hover{
  color:gold;
}


