/*==========----UNIVERSAL STYLES----==========*/
.wrapper{
  width:85%;
  margin:0 auto;
}
a:hover {
  color: rgb(154, 154, 154);
  text-decoration: none;
}
.registration-page-container {
  min-height: 507px;
  margin: 1em 0;
}
p{
	font-family: 'Vollkorn', serif;
} 
.wrapper p {
  font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Exo 2', serif;
}
/*==========----NAVIGATION----==========*/
nav{
  height:auto;
  width:100%;
  background-color:#e3e3e3;
}

/*----TOP NAV----*/
  #top-nav{
    width:100%;
    height:120px;
    background: #cfd2cf; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfd2cf 0%, #e1e4e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfd2cf), color-stop(100%,#e1e4e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfd2cf 0%,#e1e4e1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfd2cf 0%,#e1e4e1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfd2cf 0%,#e1e4e1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cfd2cf 0%,#e1e4e1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd2cf', endColorstr='#e1e4e1',GradientType=0 ); /* IE6-9 */
  }
  #nav-logo{
    padding-top:20px;
    height:100px;
    width:auto;
  }
  #nav-top-right{
    float:right;
    padding-top:20px;
		margin-right:2em;
  }

  #blank-avatar{
    height: 25px;
    width: 25px;
    border:1px solid black;
  }
  #top-right-widgets{
    list-style-type: none;
  }
  #top-right-widgets > li,
  #top-right-widgets > a  {
    display: inline-block;
    padding:0 0.5em ;
    border-right: 1px solid darkgrey;
    font-size: 1.1em;
    font-family: 'Exo 2', serif;
  }
  label.checkbox.inline {
    text-align: center;
  }
/*----BOTTOM NAV----*/
  #bottom-nav{
    width:100%;
    height:50px;
    background: #323232; /* Old browsers */
    background: -moz-linear-gradient(top,  #323232 0%, #0d0d0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #323232 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #323232 0%,#0d0d0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #323232 0%,#0d0d0d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #323232 0%,#0d0d0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */
    border-top:1px solid #909290;
  }
  #nav-list{
    list-style:none;
    margin:0;
    padding:0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }
  #nav-list li{
    list-style: none;
    float:left;
    width:auto;
  }
  #nav-list li a {
    border-right:1px solid #909290;
    border-left:1px solid #4d4d4d;
    padding: 14.5px 20px;
    text-decoration: none;
    color: white;
    float:left;
  }
  #nav-list li a:hover{
    background-color:rgba(58, 58, 58, 1);
  }

.open > a:hover{
  border-color:white!important;
}

/*======------LOGIN/SIGNUP-MODAL------========*/
.loginSignup > li {
  color: black;
}
.loginSignup > li:hover {
  color: #0180B7;
}

.modal-content{
  border-radius: 0;
  font-family: 'Exo 2', serif;
}
ul#myTab {
}
ul#myTab > li > a {
  border-radius: 0;
  margin-right: 0;
  margin: 0 auto;
  color: black;
}

/*sign in button*/
button#signin,
button#confirmsignup,
.close{
  border-radius: 0;
  background-color: #0180B7;
  font-size: 1.3em;
  display: block;
  margin: 0 auto;
  font-family: 'Exo 2', serif;
}

#humanCheck{
  text-align: center;
}

.controls{
  text-align: center;
}
#rememberme-0 {
  position: static;
}
#si-mod-title {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

/*====---GEAR AND MAIL WIDGETS---======*/
#nav-top-right li {
  float: none !important;
}
.settings{
  cursor: pointer;
}
.settings:hover{
  color: white;
}

.mail{
  cursor: pointer;
}
.mail:hover{
  color: white;
}

.loginSignup{
  cursor: pointer;
}
.loginSignup:hover{
  color: white;
}
.loginSignup > a{
  margin: 0 0.3em;
  padding: 0;
  border-right: none;
}

/*=====------SETTINGS DROPDOWN----=========*/

.settings-item{
  list-style-type: none;
  font-family: 'Exo 2', serif;
}
.settings-item > a{
  margin: 0.3em;
}
.settings-item > a:hover{
  color: black;
}
.popover{
  border-radius: 0;
}

/*====------MESSAGE DROPDOWN-----=========*/
  /*little img in preview of message*/
.usr-msg-img{
	height: 33px;
	width: 33px;
	float: left;
	border-radius: 100%;
	border: 1px solid black;
}
.message-item,
.view-more{
  margin-bottom: 0.2px;
  list-style-type: none;
  font-family: 'Exo 2', serif;
  margin:0.5em;
}
.view-more{
  float: right;
  border: 1px solid black;
  padding: 0.3em;
}
.view-more > a {
  color: black;
}

.message-item{
  text-align: center;
  border-bottom: 1px solid lightgray;
  font-family: 'Exo 2', serif;
}

.message-item > a:hover,
.view-more > a:hover{
  color: black;
}
/*==========----BOTTOM NAVIGATION 2----=======*/
.navbar-inverse .navbar-nav>li>a{
  color: white;
  border-right: 1.5px solid white;
  font-family: 'Exo 2', serif;
}

.navbar-inverse .navbar-nav>li:first-child>a{
  color: white;
  border-left: 1.5px solid white;
}
.navbar-inverse .navbar-nav>li.active > a{
  color: black;
  background-color: #B5B7B6;
  border-left: 1.5px solid white;
}
.nav .open > a .open>a:hover{
  border-color: none;
}
.form-control{
  border-radius: 0;
}
/*====== HAMBURGER TOGGLE BUTTON ======*/
.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
/*======== SEARCH BUTTON =========*/
.search{
  border-radius: 0;
  background-color: #0089C5;
  border:1px solid #0089C5;
  color: white;
}
.collapse {
  width: 85%;
  margin: 0 auto;
}
.collapse.in{
  width:100%;
}

/*========= dropdown menu background-color =======*/
ul.dropdown-menu {
  background-color: black;
  font-family: 'Exo 2', serif;
  position: absolute;
}
ul.dropdown-menu > li > a {
  color:white;
}

.navbar-collapse.collapse.in{
  width: 100%;
}

/*==========----FOOTER----==========*/
footer{
  width:100%;
  background: #323232; /* Old browsers */
  background: -moz-linear-gradient(top,  #323232 0%, #0d0d0d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #323232 0%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #323232 0%,#0d0d0d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #323232 0%,#0d0d0d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #323232 0%,#0d0d0d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */
}
.footer-row{
  padding: 1em 0;
	color:white;
}
.footer-row > .col-md-3 > span{
  display: block;
}
.col-md-3 > ul > li {
  display: inline-block;
  list-style-type: none;
  font-size: 1.8em;
  padding: 0 0.3em;
  cursor: pointer;
}

/* HOME PAGE STYLES */
/*==========----HOME TOP THREE CTAS----==========*/
.row.top {
  padding-top: 20px;
}
#home-jb-cta-block{
  height:300px;
  width:100%;
  background:url(../images/home-jb-bg.jpg);
  background-repeat:no-repeat;
	float:left;
  position:relative;
	background-size:cover;
	background-position: 100%;
}
#home-md-cta-block{
  height:300px;
  width:100%;
  background:url(../images/home-md-bg.jpg);
  background-repeat:no-repeat;
	float:left;
  position:relative;
	background-size:cover;
	background-position: 100%;
}
#home-db-cta-block{
  height:300px;
  width:100%;
  background:url(../images/home-db-bg.jpg);
  background-repeat:no-repeat;
	float:left;
  position:relative;
	background-size:cover;
	background-position: 100%;
}
.cta-block-inner{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  padding-bottom:40px;
  color:white;
  font-family: 'Exo 2', sans-serif;
}

.cta-block-inner h1{
  font-weight:600;
  text-shadow:1px 1px 3px black;
  margin:0;
  padding-bottom:40px;
}
.cta-block-inner a {
  background-color: rgba(0, 137, 197, 1);
  background: #00a0e5;
  background: -moz-linear-gradient(top, #00a0e5 0%, #008fcc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0e5), color-stop(100%,#008fcc));
  background: -webkit-linear-gradient(top, #00a0e5 0%,#008fcc 100%);
  background: -o-linear-gradient(top, #00a0e5 0%,#008fcc 100%);
  background: -ms-linear-gradient(top, #00a0e5 0%,#008fcc 100%);
  background: linear-gradient(to bottom, #00a0e5 0%,#008fcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e5', endColorstr='#008fcc',GradientType=0 );
  border: 1px solid white;
  padding: 10px 20px;
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}
.cta-block-inner a:hover {
  text-decoration: none;
  color: #323232;
  background: white;
}


/*==========----FEATURED JOBS----==========*/
/*----INDIVIDUAL JOB----*/
.idv-head-job-wrap{
  height:auto;
  width:100%;
  display: table;
  position:relative;
  padding: 10px 20px;
  background: #00a0e5; /* Old browsers */
  background: -moz-linear-gradient(top,  #00a0e5 0%, #008fcc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0e5), color-stop(100%,#008fcc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00a0e5 0%,#008fcc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00a0e5 0%,#008fcc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00a0e5 0%,#008fcc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00a0e5 0%,#008fcc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e5', endColorstr='#008fcc',GradientType=0 ); /* IE6-9 */
}

/*==========----EVENTS AND NEWS SPLIT----==========*/
#home-events,
#news-list{
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
}
#main-events-title,
#featured-jobs,
#news-title{
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  margin: 2.2px;
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 3.78em;
}
.idv-home-event-wrap {
  display: table;
  padding: 10px 0;
}
.event-pic {
  float: left;
  max-width: 20%;
}
.event-right-stuff {
  padding-left: 20px;
  float: left;
  max-width: 80%;
}
.idv-event-title {
  margin: 0;
  font-family:'Exo 2', sans-serif;
  font-size:24px;
  font-weight:600;
}
.event-cta{
  padding:10px 15px;
  margin-top:15px;
  background-color:#323232;
  color:white;
  font-family:'Exo 2', sans-serif;
}
.event-cta:hover{
  background-color:rgba(95, 95, 95, 1);
  text-decoration:none;
  color:white;
}
.event-desc{
  font-family:'Exo 2', sans-serif;
  font-weight:600;
}

#home-news{
  float:left;
  width:50%;
  padding-top:40px;
  padding-bottom:40px;
  height:200px;
  padding-left:1%;
  background-color:yellow;
}
.event-pic{
  float:left;
}
.other-jobs ul li a {
 	font-weight: 600;
	font-family: "Exo 2.0",sans-serif;
}
/*==========----JOB BOARD JOB LISTINGS----=======*/
.listing-container{
  background:blue;
}
.listing-title{
  font-family: 'Exo 2', serif;
  color:white;
  padding: 0.7em;;
  margin: 0;
  background: darkgrey;
  font-weight: 500;
	font-style:italic;
	font-size:30px;
}

.featured{
  background: #00a0e5; /* Old browsers */
  background: -moz-linear-gradient(top,  #00a0e5 0%, #008fcc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0e5), color-stop(100%,#008fcc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00a0e5 0%,#008fcc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00a0e5 0%,#008fcc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00a0e5 0%,#008fcc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00a0e5 0%,#008fcc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e5', endColorstr='#008fcc',GradientType=0 ); /* IE6-9 */
}
.listing-body{
  background-color:#dbdbdb;
}
.listing-body p{
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}

.skills-widgets{
  margin: 0 auto;
  width:80%;
  text-align: center;
}

.skill-qual{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 1em 1em;
  background: lightblue;
  border: 2px solid;
  vertical-align: middle;
}

.listing-buttons{
  margin: 0 auto 20px;
  padding-bottom: 1em;  
  text-align: center;
}

.learn-more{
  font-family: 'Exo 2', serif;
  font-size: 1.3em;
  background: darkgrey;
  width:200px;
  border: none;
  padding: 0.5em 1em;
  color:white;
	display:inline-block;
}
.learn-more:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}

.bid-now{
  font-family: 'Exo 2', serif;
  font-size: 1.3em;
  background: #0180B7;
  width:200px;
  border: none;
  padding: 0.5em 1em;
  color:white;
  margin-left: 2em;
}
.bid-now:hover {
  background: #537FA6;
}
.fa-star{
  float:right;
  color: #33ADE1;
  cursor: pointer;
  font-size: 1.3em;

}
.fa-star:hover{
  color:gold;
}


/*====---- NEWS SECTION ----=======*/
.bottom{
/*   border-top: 1px solid lightgray; */
}
.news-column{
  border-left: 1px solid lightgray;
}

#news-list .row {
  padding-top: 10px;
}

.other-jobs > ul{
  list-style-type: none;
  margin-left:-2em;
}

.first-job >li {
  list-style-type: none;
}
.first-job>li>a {
  font-size: 1.6em;
  color: black;
  margin: 0.3em auto;
  text-align: center;
}

.other-jobs>ul>li>a {
  font-size: 1.3em;
}

.other-jobs>ul>li>a:hover,
.first-job>li>a:hover{
  color: black;
}

.featured-news-story > span a:hover {
  color: black;
}



/*====----- skills section -----========*/
.container.skills-dropdown-container {
  padding: 0;
  font-family: 'Exo 2', serif;
}
.navbar-form{
  width: 100%;
  text-align: center;
}
.skills-bars{
	font-size: 1.3em;
  margin-left: 0.3em;
  display: none;
	background: #0089C5;
  padding: 6px 12px;
  line-height: 1.3;
  color: white;
}
.skills-dropdown{
  background-color: white;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
}
.refineBy{
  text-align: center;
}
.skills-search-form{
  display: inline-block;
  width: 70%!important;
  vertical-align: top;
}
.search{
  vertical-align: top;
}
.skills-dropdown-container{
  display: none;
}
.skills-dropdown{
  width:100%;
  margin-bottom: 1em;
  margin-top: -1em;
  padding-top: 0;
  border-radius: 0;
  background-color: lightgray;
}



/*====----- DISCUSSION BOARD STYLES -----========*/
.discussion-board-container{
  font-family:'Exo 2', sans-serif;
}

.discussion-board-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 3.8em;
}

.panel-heading{
  padding:0;
  border:none;
}

.post-list{
  background: #DFE1DE;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

.post{
  clear: both;
  padding: 1em;
  border-bottom: 1px solid black;
  width: 97.4%;
  margin: 0 auto;
  padding-bottom: 2em;
}
.post:last-child{
  margin-bottom: 1em;
}
.post-user > img {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 2em;
}

/*---sort new/popular buttons-------*/
#toggle-pop-new{
  font-family: 'Exo 2', serif;
  color: black;
  border-bottom: 1px solid black;
}

.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover{
  background-color: #DEE0DF; 
  border: 1px solid black; 
  margin:0;
  border-radius: 0;
  color: black;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
  background-color: #DEE0DF; 
  border:1px solid black;
  border-bottom:1px solid transparent;
  font-weight: bold;
  color: black;
}

/*----===== post controls ----=====*/

.post-vote{
  float: left;
  padding: .6em;
  vertical-align: middle;
  text-align: center;
  font-size: 0.8em;
  padding-right: 1em;
}

.up-vote {
  height: 20px;
  padding-bottom: 1em;
  text-align: center;

}
.up-count{
  height: 20px;

}

.down-vote {
  height: 20px;;
  text-align: center;

}
.down-count{
  height: 20px;
  padding: 0.4em;
}
.view-post{
  background: #323232;
  color: white;
  padding: 0 1em;
  border-radius:0;
  font-family: 'Exo 2', serif;
  margin-top: 1em;
}

/*=====----- pagination -----=========*/

.pagination{
  padding-left: 2em;
}
.pagination>li>a, .pagination>li>span,
.pagination>li.disabled >a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: white;
  text-decoration: none;
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 0;
}
.pagination>.active>a{
  background-color: gray;
  border-color:black;
}
.pagination>.active>a:hover{
  background-color: black;
  border-color: gray;
  cursor: pointer;
}

/*=====----- RIGHT COLUMN -----=========*/
.contact > h2{
  text-align: center;
  margin-bottom: 1em;
}
.contact-support{
  background-color: #0192D1;
  color: white;
  display: block;
  border: none;
  padding: 0.6em;
  margin: 0 auto;
  border-radius: 0;
}
.contact > h3{
  text-align: left;

  text-align: center;
}
#create-new-post-wrap{
	text-align:center;
}
#create-new-post-wrap a{
  text-align: center;
  font-size: 24px;
  color: white;
  background-color: #0192D1;
  display: inline;
  position: relative;
  padding: 12px 26px;
}
#create-new-post-wrap a:hover{
	cursor:pointer;
	color: #333;
	border:1px solid #333;
  	background-color: #e6e6e6;
}

#nd-top-instructions{
	width: 90%;
  margin: 0 auto;
	margin-top:10px;
}

#nd-form {
  width: 90%;
  margin: 0 auto;
}
#nd-title {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#nd-message {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  min-height: 150px;
  margin-bottom: 5px;
}
#nd-submit {
  border: 1px solid #0192D1;
  background-color: #0192D1;
  color: white;
  float: right;
  font-size: 18px;
  padding: 5px 15px;
	  margin-bottom: 10px;
}
#nd-category {
  width: 49%;
  float: left;
  padding: 5px;
  font-size: 17px;
  border-radius: 0;
  border: 1px solid darkgrey;
}
#nd-tags {
  width: 49%;
  float: left;
  margin-left: 2%;
  padding: 5px;
  margin-bottom: 10px;
}
/*==---ONLINE MEMBERS---==*/
.online-members{
  position: relative;
  width: 100%;
}

.member-name{
	display:inline-block;
}
.online-members > li {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.online-members > li > label {
  display: block;
  font-size: 1em;
  text-align: center;
}

/*user image*/
.user-prof{
  height: 65px;
  width: 65px;
  margin: 0.41em;
	border-radius:0;
}
.user-prof-right{
  height: 65px;
  width: 65px;
  margin: 0.41em;
}

/*----===== MEMBER INFO POP UP =====-----*/


.pointer{
  text-align: center;
  position: relative;
  content: '';
  border-style: solid;
  border-width: 0 17px 24px;
  border-color: #DFE1DE transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin: 0 auto;
  margin-top: -1.3em;
  display: none;
  }
.popover-content{
  width: 100%;
}
.popover{
  width: 100%;
}
.user-info > h2 {
  display: inline-block;
}

.user-info > .user-prof {
  margin: 1em;
}


.skills-widgets-left {
  margin: 0 auto;
  width: auto;
  display: inline-block;
  text-align: left;
  margin-left: 2em;
  float: right;
   margin-top: 0; 
  margin-bottom: 1em;
}

.skill-qual-left{
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 1em;
  margin-bottom: 1em;
  background: lightblue;
  border: 2px solid white;
  vertical-align: middle;
  text-align: center;
}

.mini-prof-bottom{
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
	font-family:'Exo 2', serif;
}

.btn{
  border-radius: 0;
}
.btn:hover{
/*   color: white; */
  opacity: 0.8;
}
.view-profile-right{
  background-color: #0192D1;
  color: white;
  font-size: 0.8em;
}
.message-user-right{
  background-color: #323232;
  color: white;
  font-size: 0.8em;
  margin-right: 1em;
}




/*==========----MEMBER DIRECROTY PAGE----=======*/
.member-board-container{
  font-family:'Exo2', sans-serif;
}
.member-board-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 3.8em;
}

.skills-form {
  background: #DBDDDB;
  padding-left: 20px;
  padding-bottom: 2em;
  text-align: left;
}
.skills-dropdown{
	padding-bottom:1em;
}

#search-job{
  margin-top: 1em;
}
.sort-by{
  font-size: 20px;
}
.skills-form > label{
  display: block;
  margin: 0.5em auto;
}
.other-options{
  margin: 1em auto;
}

input[type=checkbox], input[type=radio] {
  margin: 10px 0 0 !important;
  margin-top: 1px ;
  line-height: normal;
}

/*moves skills away from check boxes*/
.skill-checks{
  margin-left: 1em;
}

.skills-check-list > label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.skills-check-list > input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/*==========----JOB BOARD JOB LISTINGS----=======*/
.user{
  margin-bottom: 2em;
}
.user-title{
  padding: 0.7em;;
  margin: 0;
  background-color: #D4D6D3;
}

/* .user-title > h2{
  font-size: 2.2em;
  font-weight: 200;
  margin-left: 1em;
  padding-left: 4em;
} */
.user-title > h2{
	  font-family: 'Exo 2', serif;
  color:#323232;
  padding: 0.7em;;
  margin: 0;
/*   background: darkgrey; */
  font-weight: 500;
	font-style:italic;
	font-size:30px;
/* 	  font-size: 2.2em; */
  font-weight: 200;
  margin-left: 1em;
  padding-left: 4em;
}

.prof-pic{
  height: 100px;
  width: 100px;
  float: left;
  margin: 1em;
  background: white;
}
.prof-pic img{
  height: 100%;
  width: 100%;
}

.user-body{
  background-color:#D4D6D3;
}
.user-body p{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em 0;
    clear: both;
}

.skills-widgets{
  margin: 0 auto;
  width:80%;
  text-align: left;
  padding-left: 5em;
}

.skill-qual{
  display: inline-block;
  height: 50px;
  text-align: center;
  width: 50px;
  margin: 0 0.5em 0.5em;
  border: 2px solid;
  vertical-align: middle;
}

.skill-1{
  background: darkred;
}
.skill-2{
  background: darkblue;
}
.skill-3{
  background: lightyellow;
}
.skill-4{
  background: lightgreen;
}

.listing-buttons{
  margin: 0 auto 20px;
  padding-bottom: 1em;  
  text-align: center;
  font-family: 'Exo 2', serif;
}

.button:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.view-profile{
  background: #B5B7B6;
  width: 200px;
  font-size: 1.4em;
  color: #606060;
  border: none;
  padding: 0.51em 2em;
}

.message{
  background: #0192D5;
  width: 200px;
  font-size: 1.4em;
  border: none;
  padding: 0.51em 2em;
  color:white;
  margin-left: 2em;
}

/* MEDIA QUEIRIES */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2){
	.skill-qual{
		display: inline-block;
		height: 20px;
		text-align: center;
		width: 20px;
		margin: 0 0.5em 0.5em;
		border: 2px solid;
		vertical-align: middle;
	}	
	.skills-widgets {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding-left: 0em; 
    padding-top: 2em;
  }
	.skills-check-list{
		margin-left:37%;
	}
		
}

@media (max-width: 760px){
  .message{
    margin-left: 0;
    margin-top: 1em;
  }
  .skills-widgets {
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding-left: 0em; 
    padding-top: 2em;
  }
	.skills-check-list{
		margin-left:37%;
	}
	.skill-qual{
		display: inline-block;
		height: 20px;
		text-align: center;
		width: 20px;
		margin: 0 0.5em 0.5em;
		border: 2px solid;
		vertical-align: middle;
}
  /*user name*/
  .user-title > h2 {
    font-size: 2.2em;
    font-weight: 200;
    margin-left: 1em;
    padding-left: 0em;
  }
}

.fa-star{
  float:right;
  color: #33ADE1;
  cursor: pointer;
}
.fa-star:hover{
  color:gold;
}


/*=====-----MEMBER PROFILE-----=====*/
.member-prof-container{
  font-family:'Exo 2', sans-serif;
  margin-bottom: 2em;
}
.member-prof-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 3.8em;
}

/*=====----- Left COLUMN -----=========*/
  .col-left{
    text-align: center;
    margin: 0 auto;
  }
  /******** user image ********/
  .user-prof{
    height: 165px;
    width: 165px;
    margin: 0.41em;
	    display: block;
  margin: 0 auto;
  }


  /******** message user ********/
  .message-user{
    background-color: #0180B7;
    color: white;
    font-size: 1.2em;
    padding: 0.3em 2em;
    border:none;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0;
}


  /****** user qualifications *****/
  .skills-widgets-left{
    margin: 0 auto;
    width: 65%;
    display: inline-block;
    text-align: left;
    margin-left: 2em;
    float: right;
    margin-top: -2em;
    margin-bottom: 1em;
  }

  .skill-qual-left{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-bottom: 1em;
    background: lightblue;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    margin-right: 0.4em;
    margin-left: 0.4em;
  }

/****** user overall rating ********/
.user-ovr-rating > span{
  font-size: 1.7em;
}




/*=====----- RIGHT COLUMN -----=========*/

/****** about section *****/
div.about {
  background-color: #D5D7D4;
  margin: 0 auto;
  padding: 0.4em 1em;
}
.about > h2{
  margin-top: 0.3em;
}
.about-body{
  margin: 0 0.2em 1em;
}
/****** photo slider *****/

.photo-slider{
  background-color: #D5D7D4;
  margin: 2em auto 1em;
  padding: 0.4em 1em;
}

/*wrapper for carousel*/
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** ======------ Carousel --========== **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 4px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

.jcarousel-control-next {
    right: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

.jcarousel-control-prev:hover,
.jcarousel-control-prev:active,
.jcarousel-control-prev:focus  {
    left: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

.jcarousel-control-next:hover,
.jcarousel-control-next:active,
.jcarousel-control-next:focus {
    right: 15px;
    border-radius: 0;
    color: white;
    text-decoration: none;
}

/*---==== user reviews section ====-----*/

/*overall rating*/
.review-top{
  text-align: left;
  border-bottom: 1px solid black;
  padding: 0 1em;
}

/*list of reviews*/
.reviews{
  background-color: #D5D7D4;
  margin: 0 auto;
  padding: 0.4em 1em;
}
.reviews > h2{
  margin-top: 0.3em;
}

/*individual review*/
.review{
  background-color: white;
  margin-bottom: 1em;
}


/*the actual star for the rating*/
.rating > span{
  color: #005294;
	cursor: default;
}

.rating {
  unicode-bidi: bidi-override;
  display: inline-block;
}

/*Total Rating*/
.review-top > h3{
  display: inline-block;
	padding-left: 1em;
}
.comment-author,
.comment-date{
  float: right;
}
.comment-author{
  font-weight: 300;
  margin-right: 1em;
}
.comment-date{
  font-weight: 100;
}
.review-top > .rating > span{
  font-size: 1.38em;
}

/*category ratings*/
div.review-middle{
  text-align: center;
  padding: 0 1em;
}
.review-middle > .rating{
  margin: 0 3.8em 0 1em;
}

.category-rating > h3 {
  display: inline-block;
  margin-right: 2.4em;
  font-size: 1.0em;
  margin-top: 0.4em;
}

/*review body*/
.review-body{
  padding-bottom: 1em;
}
.review-body > p{
  width: 80%;
  margin: 0.3em auto;
}


/*section spacing*/
.about,
.photo-slider,
.reviews{
  margin-bottom: 2em;
}

h1,h2,h3{
	cursor: default;
}




@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
	.user-prof{
		display: block;
		margin: 0 auto;
	}	
}

@media (max-width: 1000px){
	.user-prof{
		display: block; 
		margin: 0 auto;
	}
	.member-prof-title {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 3.0em;
	text-align:center;
}
}

/*==========----JOB BOARD PAGE----=======*/
.job-board-title {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 3.8em;
}

.member-dash{
  font-family:'Exo 2', sans-serif;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 2em;
  position: relative;
  height: 100vh;
}
.member-dash-title{
  text-align: left;
  font-family: 'Exo 2', sans-serif;
  font-size: 3.8em;
	font-weight:100;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
/*toggle current and previous jobs*/

.btn-group{
  margin-bottom: 1em;
}

#current-jobs,
#previous-jobs{
  border-radius: 0;
  font-family: 'Exo 2', sans-serif;
}




/*==========----JOB BOARD SORT FORM----=======*/
.skills-form {
  background: #dbdddb;
  padding-left: 20px;
	padding-right:20px;
  padding-bottom: 20px;
}
#search-job{
  margin-top: 20px;
	width:100%;
	padding:3px;
}
.sort-by{
  font-size: 20px;
}
.skills-form > label{
  display: block;
  margin: 0.5em auto;
}
.other-options{
  margin: 1em auto;
}

input[type=checkbox], input[type=radio] {
  margin: 10px 0 0 !important;
  margin-top: 1px ;
  line-height: normal;
}

.skill-checks{
  margin-left: 1em;
}



/*==========----MY JOBS----=======*/

.prof-pic{
  height: 100px;
  width: 100px;
  float: left;
  margin: 1em;
  background: white;
}
.prof-pic img{
  height: 100%;
  width: 100%;
}

.skill-1{
  background: darkred;
}
.skill-2{
  background: darkblue;
}
.skill-3{
  background: lightyellow;
}
.skill-4{
  background: lightgreen;
}

.listing-buttons{
  margin: 0 auto 20px;
  padding-bottom: 1em;  
  text-align: center;
  font-family: 'Exo 2', serif;
}

.button:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.view-profile{
  background: #B5B7B6;
  width: 200px;
  font-size: 1.4em;
  color: #606060;
  border: none;
  padding: 0.51em 2em;
}


.fa-star{
  float:right;
  color: #33ADE1;
  cursor: pointer;
}
.fa-star:hover{
  color:gold;
}

#signIn{
	background-color:white; border:1px solid #ddd; border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: none;
}
/*====----- left column -----=======*/

/*vertical list of jobs*/
.jobs-list{
  list-style: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0;
}

/*inidividual job in list*/
.job{
  list-style-type: none;
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
}
.job:last-child{
  border-bottom: none;
}
.active-job {
  background-color: gray;
  color: white;
}
.active-job .job-title {
   background: #00a0e5;
  background: -moz-linear-gradient(top, #00a0e5 0%, #008fcc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a0e5), color-stop(100%,#008fcc));
  background: -webkit-linear-gradient(top, #00a0e5 0%,#008fcc 100%);
  background: -o-linear-gradient(top, #00a0e5 0%,#008fcc 100%);
  background: -ms-linear-gradient(top, #00a0e5 0%,#008fcc 100%);
  background: linear-gradient(to bottom, #00a0e5 0%,#008fcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e5', endColorstr='#008fcc',GradientType=0 );
}
.active-job a {
  color: white;
}
.active-job button {
  background-color: white;
  color: #0089C5;
}
/*default job title*/
.job-title{
  background-color: #CED3CF;
  text-align: left;
  margin-top: 0;
  padding: 0.4em;
}

/*job title attention needed*/
.job-title-attn{
  background-color: #BE2E2E !important;
  cursor: pointer;
}
.fa-exclamation{
  position: absolute;
  top: 4px;
  right: 7px;
  font-size: 3em;
  color: white;
}

.job-title-review{
  background-color: red;
}
.start-date{
  display: block;
  text-align: left;
  padding: 0.4em;
}
.client-email{
  display: block;
  text-align: left;
  padding: 0.4em;
  color: black;
  font-weight: 600;
}

.job-notifications{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  border-radius: 0 0 0 10px;
  border-left: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-top: none;
  border-right: none;
  line-height: 0.2em;
}

/*button to view job*/
.view-job{
  display: block;
  margin: 1em auto;
  background-color: #0089C5;
  color: white;
  border-radius: 0;
  padding: 0.4em 2em;
}

/*hide the notification controls until clicked */
.notification-controls{
  position: absolute;
  top: 19px;
  right: 0;
  z-index: 9;
  list-style-type: none;
  color: white;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #D0D2CF;
  border: 1px solid darkgrey;
  text-align: center;
}
.mark-complete,
.hold-job {
  list-style-type: none;
  text-align: left;
  padding-right: 1em;
  background-color: #D0D2CF;
  border-bottom: 1px solid white;
  padding: 1em 1em;
}
.mark-complete:hover,
.hold-job:hover {
  background-color: white;
  cursor: pointer;
} 

.mark-complete > a,
.hold-job > a  {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

/*====----- middle column -----=======*/
.job-post{
  padding: 0;
  border: 1px solid;
  border-top: 1px solid lightgrey;
  border-bottom: none;
}

/*job post column title*/
.column-title{
  text-align: center;
  margin: 0;
  padding: 0.2em;

}
.selected-job-title{
  font-weight: 100;
  text-align: center;
  background-color: #DFE1DE;
}
.affix-top{
  position: fixed;
}

.title{
  margin-top: 12px;
}
.skills-widgets-left{
  margin: 0 auto;
  width: 100%;
}

.skill-qual-left{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 1em;
  margin-bottom: 1em;
  background: lightblue;
  border: 2px solid;
  vertical-align: middle;
}

.job-description{
  background: white;
  margin: 2em 1em;
  border:1px solid black;
  border-top: 1px solid;
}
.job-description p {
  width: 86%;
  margin: 2em auto;
}

/*====----- right column -----=======*/
.client-discussion{
  border-top: 1px solid lightgrey;
  position: static;
  padding: 0;
}

/*fixed conversation header*/
.client-discussion > .column-title{
  position: absolute;
  width: 50%;
  background-color: rgba(255,255,255,0.92);
  color: black;
  z-index: 9;
}
/*conversation section*/
.convo-top{
  max-height: 66%;
  position: absolute;
  margin: 0 1em;
  overflow: auto;
}
.user-message{
  float: right;
  width: 80%;
  clear: both;
}
.user-message > p{
  background-color: #0089C5;
  padding: 0.5em;
  margin: 0.4em auto;
	color:white
}
.author{
  margin-top: 1em;
  margin-bottom: 0.0em;
}
.user-message > .author{
  text-align: right;
}
.member-reply{
  float: left;
  width: 80%;
  clear: both;
}
.member-reply > p {
  margin: 0.4em auto;
  padding: 0.5em;
  background-color: lightgrey;
}
.member-reply > .author{
  text-align: left;
}

.author >h5 {
  display: inline-block;
  margin-left: 1em;
}


/*If Attention is Needed Instead of Client Discussion Show the Client Rating*/
.client-rating{
  border-top: 1px solid lightgrey;
  position: static;
  padding: 0;
}

/*fixed conversation header*/
.client-rating > .column-title{
  position: absolute;
  width: 50%;
  background-color: rgba(255,255,255,0.92);
  color: black;
  z-index: 9;
}
/*conversation section*/
.convo-top{
  max-height: 66%;
  position: absolute;
  margin: 0 1em;
  overflow: auto;
}



/*===--- REPLY SECTION BOTTOM OF CONVERSATION SECTION ---=====*/

.reply-section{
  text-align: center;
  background-color: grey;
  position: relative;
  bottom: 0;
  position: absolute;
  width: 50%;
  z-index: 9;
  height: 33.3333%;
}
.reply-text{
  width: 300px;
  height: 70%;
  margin-top: 2%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: transparent;
}
/*buttons*/
.reply-bottom{
  width: 300px;
  background-color: white;
  margin: 0 auto;
  height: 20%;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.reply-bottom > label > span{
  line-height: 33px;
}
input#avatar {
  display: block;
}
input[type=file]{
    display: none;
    cursor: pointer;
}
.add-files {
  background: #DDD;
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 0;
  border: none;
  border-radius: 0;
}
.add-files:hover {
    background: #CCC;
}
.add-files:active {
    background: #CCF;
}

.send{
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  background-color: #1A7EBA;
  color: white;
  border-radius: 0;
  margin: 0;
  border:none;
}
.send:hover {
  background-color: #323232;
  color: white;
}


/*max height*/
.job-post,
.jobs-list,
.client-discussion{
  max-height: 100%;
  overflow: auto;
}


.mobile{
  display: none;
}


/*====----- MOBILE STYLES -=======*/
.mobile{
  font-family: 'Exo 2', sans-serif;
  margin: 1em auto;
}
#mobile-container{
  margin: 1em auto;
}

/*job title*/
.panel-default > .panel-job-heading{
  background-color: #0089C5;
}
.panel-heading{
  border-radius: 0;
}
.panel{
  border:none;
  margin: 0;
}

/*title at the beginning of each new job ex JOB 1*/
.mbl-job-title{
  background-color: #0089C5;
  margin: 0;
  border-bottom: 1px solid white;
}
.mbl-job-title > a{
  color: white;
  font-family: 'Exo 2', serif;
  font-size: 1.3em;
}

/*discussion-title and description title*/
.mbl-disc-title,
.mbl-desc-title{
  background-color: darkgrey;
  margin: 0;
  border-bottom: 1px solid;
}
.mbl-disc-title > a ,
.mbl-desc-title > a{
  color: #000;
  font-family: 'Exo 2', serif;
}



/*=====------- CLIENT RATING ====-------*/
/*star rating*/
.rating{
  unicode-bidi: bidi-override;
  display: inline-block;
  margin:0 2em;
}

.review-middle{
  text-align: center;
  margin-top: 3em;
}

.rating > span {
  color: #0081B5;
  cursor: pointer;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin: 1em auto;
}

.rating-text{
  display: block;
  width: 100%;
  height: 86px;
  text-align: left;
  margin-bottom: 1em;
}

/*button to submit post*/

.post{
  display: block;
  margin: 1em auto;
  background-color: #0089C5;
  color: white;
  border-radius: 0;
  padding: 0.4em 2em;
  float: right;
}

/* DISCUSSION BOARD POST */
.discussion-post{
	background-color:transparent!important;
	color:black!important;
}


/*/*media queries*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
  
  .desktop{
    display: none;
  } 
  .mobile{
    display: block;
  }
  .convo-top{
    position: relative;

  }
  .reply-section{
    text-align: center;
    background-color: grey;
    position: relative;
    bottom: 0;
    z-index: 9;
    height: 200px;
    width: 100%;
  }
  .client-discussion > .column-title{
    width: 100%;
    position: relative;
  }
  /*dropdown body*/
  .panel-body{
    padding: 0;
  }
  .panel-group .panel+.panel {
  margin-top: 0px;
  } 

}


@media only screen and (max-width: 970px){
  
/*  media queries for responsiveness so page goes from 3 columns to stackable dropdowns*/
  .desktop{
    display: none;
  } 
  .mobile{
    display: block;
  }
  .convo-top{
    position: relative;

  }
  .reply-section{
    text-align: center;
    background-color: grey;
    position: relative;
    bottom: 0;
    z-index: 9;
    height: 200px;
    width: 100%;
  }
  .client-discussion > .column-title{
    width: 100%;
    position: relative;
  }
  /*dropdown body*/
  .panel-body{
    padding: 0;
  }
  .panel-group .panel+.panel {
  margin-top: 0px;
  } 
	.reply-text {
  width: 80%;
	}
	.reply-bottom{
		width: 80%;
	}
}

/*==========----APPROVAL PAGE----=======*/
.admin-portal{
  font-family:'Exo 2', sans-serif;
  margin-bottom: 2em;
  position: relative;
  height: 100vh;
  margin-top: 1em;
}
.admin-portal-title{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 3.8em;
}

@media only screen and (min-width: 980px){
	.container{
		padding-left:0;
		padding-right:0;
	}
	.admin-portal{
		border-left: 1px solid black;
  	border-bottom: 1px solid black;
  	border-right: 1px solid black;
	}
}

.skills-form {
  background: #dbdddb;
  padding-left: 20px;
  padding-bottom: 2em;
}
#search-job{
  margin-top: 1em;
}
.sort-by{
  font-size: 20px;
}
.skills-form > label{
  display: block;
  margin: 0.5em auto;
}
.other-options{
  margin: 1em auto;
}

input[type=checkbox], input[type=radio] {
  margin: 10px 0 0 !important;
  margin-top: 1px ;
  line-height: normal;
}

.skill-checks{
  margin-left: 1em;
}

/*checkboxes under each skill*/

.skill-check-box{
  position: absolute;
  /* bottom: 66%; */
  top: 29px;
  right: 8px;
}

.checkBoxCheck{
	 top: 2px !important;
   left: -20px !important;
}



/* TOGGLE BETWEEN CURRENT AND PREVIOUS */
#current-jobs,
#previous-jobs{
	font-family:'Exo 2', serif;
}


/*==========----JOB BOARD JOB LISTINGS----=======*/

.prof-pic{
  height: 100px;
  width: 100px;
  float: left;
  margin: 1em;
  background: white;
}
.prof-pic img{
  height: 100%;
  width: 100%;
}

.skill-1{
  background: darkred;
}
.skill-2{
  background: darkblue;
}
.skill-3{
  background: lightyellow;
}
.skill-4{
  background: lightgreen;
}

.listing-buttons{
  margin: 0 auto 20px;
  padding-bottom: 1em;  
  text-align: center;
  font-family: 'Exo 2', serif;
}

.button:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.view-profile{
  background: #B5B7B6;
  width: 200px;
  font-size: 1.4em;
  color: #606060;
  border: none;
  padding: 0.51em 2em;
}


.fa-star{
  float:right;
  color: #33ADE1;
  cursor: pointer;
}
.fa-star:hover{
  color:gold;
}

/*====----- left column -----=======*/

/*vertical list of jobs*/
.jobs-list{
  list-style: none;
/*   border-bottom: 1px solid black; */
  border-top: 1px solid black;
  padding: 0;
}

/*inidividual job in list*/
.job {
  height: auto;
  list-style-type: none;
  display: table;
  width: 100%;
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
}

.job-title{
  background-color: #CED3CF;
  text-align: left;
  margin-top: 0;
  padding: 0.4em;
}
.job-title-review{
  background-color: red;
}
.start-date{
  display: block;
  text-align: left;
  padding: 0.4em;
}
.client-email{
  display: block;
  text-align: left;
  padding: 0.4em;
  color: black;
  font-weight: 600;
}

.job-notifications{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  border-radius: 0 0 0 10px;
  border-left: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-top: none;
  border-right: none;
  line-height: 0.2em;
}
.notification-controls{ 
  position: absolute;
  top: 19px;
  right: 0;
  z-index: 9;
  list-style-type: none;
  color: white;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #D0D2CF;
  border: 1px solid darkgrey;
  text-align: center;
}
.mark-complete,
.hold-job {
  list-style-type: none;
  text-align: left;
  padding-right: 1em;
  background-color: #D0D2CF;
  border-bottom: 1px solid white;
  padding: 1em 1em;
}
.mark-complete:hover,
.hold-job:hover {
  background-color: white;
  cursor: pointer;
} 

.mark-complete > a,
.hold-job > a  {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

/*button to view job*/
.view-job{
  display: block;
  margin: 1em auto;
  background-color: #0089C5;
  color: white;
  border-radius: 0;
  padding: 0.4em 2em;
}

/*====-----job column -----=======*/
.job-post{
  padding: 0;
  border: 1px solid;
  border-top: 1px solid lightgrey;
  border-bottom: none;
}

/*Approve or Delete Buttons*/
.approve-delete{
  display: inline-block;
  position: absolute;
  right: 13px;
}

.approve-delete > .btn{
  border-radius: 0;
}




/*job post column title*/
.column-title{
  text-align: center;
  margin: 0;
  padding: 0.2em;

}
.selected-job-title{
  font-weight: 100;
  text-align: center;
  background-color: #DFE1DE;
}
.affix-top{
  position: fixed;
}

.title{
  margin-top: 12px;
}
.skills-widgets-left{
  margin: 0 auto;
  width: 100%;
  padding-bottom: 1em;
}

.skills-widgets-center{
	width:100%;
	padding-left:0;
	text-align:center;
	padding-bottom:1em;
}
.skill-qual-left{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 1em;
  margin-bottom: 1em;
  background: lightblue;
  border: 2px solid;
  vertical-align: middle;
  position: relative;
}


.job-description-ind {
  background: white;
  margin: 2em 0em;
  border:1px solid black;
  border-top: 1px solid;
}
.job-description-ind p {
  width: 86%;
  margin: 2em auto;
	font-size:15px;
}

/*max height*/
.job-post,
.jobs-list,
.client-discussion{
  max-height: 100%;
  overflow: auto;
}

/* BUG FIXES */
.rememberme{
    position: relative;
}

/*media queries*/
@media only screen and (max-width: 980px){
  .admin-portal{
    font-family:'Exo 2', sans-serif;
/*     border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black; */
    margin-bottom: 2em;
    position: relative;
    height: 100%;
    margin-top: 1em;
  }
	.jobs-list{
		border-right: 1px solid black;
		border-left: 1px solid black;
	}
	.job-post{
		margin-top: 1em;
		border-top: 1px solid black;
		border-bottom:1px solid black;
	}
  #job-post-title > i {
    margin-right: 3em;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	.admin-portal{
		max-width:100%;
	}

}


/*===----- INDIVIDUAL JOB POSTS -----===*/
/* NAV */

/* make grey section for job heading touch the top nav */
.navbar.navbar-inverse.navbar-static-top {
  margin-bottom: 0;
}

/*==========----SELECTED JOB----==========*/
.job-title-container{
  background: lightgrey;
  padding: 1em;
  padding-left: 4em;
}
h2.title{
  font-weight: 200;
}
}
.selected-job-title{
  font-weight: 100;
  display: none;
	
}

.skills-widgets-left{
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

.skill-qual-left{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 1em;
  margin-bottom: 1em;
  background: lightblue;
  border: 2px solid;
  vertical-align: middle;
}

.job-description{
  border: 1px solid black;
  background: white;
  margin-top: 2em;
  margin-bottom: 2em;
}
.job-description p {
  width: 86%;
  margin: 2em auto;
}

.place-bid{
  margin:0 auto;
  display: block;
  margin-bottom: 2em;
  background: #0192D5;
  color: white;
  width: 200px;
  font-size: 1.3em;
  height: 50px;
  border-radius: 0;
  font-family: 'Exo 2', serif;
}
/*==========----JOB Discussion----==========*/

.job-discussion{
  border: 1px solid black;
  margin-bottom: 2em;
  position: relative;
  clear: both;
  text-align: center;
  width: 100%;
  font-family: 'Exo 2', serif;
}

.discussion-top{
  padding: 0.5em;
}

.job-discussion h1{
  display: inline;
  font-weight: 200;
  margin-bottom: 0.5em;
}

.fa-plus-square-o,
.fa-minus-square-o{
  height: 40px;
  font-size: 2em;
  /* float: right; */
  position: absolute;
  right: 0;
  /* top: 0em; */
  display: inline-block;
  margin-right: 1em;
  margin-top: 8px;
  cursor: pointer; ;
}
.job-convo{
  display: none;
}

.add-convo{
	margin-top:2em;
}
.add-convo > input{
  height: 130px;
  width: 300px;
  margin-top: 3em;
  display: block;
  margin: 3em auto 1em;
  border: 1px solid black;
}

/*button at bottom of discussion section*/
.add-convo > button {
  background-color: #0091D2;
  color: white;
  border-radius: 0;
  display: block;
  padding: 0.4em 2em;
  margin: 1em auto;
}
/*====---- Individual discussion post ----==== */


/*user image*/
.user-img{
  height: 50px;
  width: 50px;
  background-color: blue;
  float: left;
  margin-left: 3em;
}

.disc-body {
  border-bottom: 1px solid black;
    padding: 1em;
}
.disc-body > p {
  width: 80%;
  display: inline-block;
  text-align: left;
  margin-left: 2em;
	font-size:15px;
}
.disc-body:last-child{
  border-bottom: none;
}

.contractor-body{
  background-color: #EFEFEF;
}
.anony-body{
  background-color: #D9D9D9;
  margin-left: 2em;
}

.disc-bottom{
  text-align: left;
  width: 74%;
  margin: 0 auto;
}
.disc-bottom > a{
  color: black;
  margin-right: 0.4em;
  text-decoration: underline;
}


/*dialog form*/
.bid-dialog {
  background: white;
  position: fixed;
  top: 20%;
  border: 1px solid black;
  width: 600px;
}

.modal-header{
  min-height: 16.43px;
  padding: 0; 
  border-bottom: 1px solid #e5e5e5;
}


#myModalLabel{
  background-color: lightgrey;
  font-weight: 200;
  font-family: 'Exo 2', serif;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
  text-align: center;
}

.modal-body h3 {
  width: 85.6%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
}

/* hides default ui dialog title bar*/
.ui-dialog-titlebar{
    display: none;
}

.control-group{
  margin: 1em auto;
  text-align: center;
}

.control-label{
  display: inline-block;
}

.controls{
  display: inline-block;
}

.modal-footer{
  text-align: center;
}

.btn .btn-primary{
  border-radius: 0;
  font-size: 1.3em;
}

.bid{
  border-radius: 0;
  font-weight: 200;
  font-size: 1.6em;
  padding: 0.3em 1em;
  font-family: 'Exo 2', 'serif';
}

button.btn.dropdown-toggle{
  border-radius: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: grey;
    color: white;
    border-radius: 0;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: grey;
    color: white;
    cursor: inherit;
    display: block;
}

/*==========----CLIENT PORTAL PAGE----=======*/
.client-dash{
  font-family:'Exo 2', sans-serif;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 2em;
  position: relative;
  height: 100vh;
}
.client-dash-title{
  text-align: left;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.8em;
  margin: 0.5em 0; 
}

.row{
  margin-left: 0;
  margin-right: 0;
}
/*toggle current and previous jobs*/

.btn-group{
  margin-bottom: 1em;
}

#current-jobs,
#previous-jobs{
  margin-top: 1.5em;
  border-radius: 0;
  font-family: 'Exo 2', sans-serif;
}




/*==========----JOB BOARD SORT FORM----=======*/
.skills-form {
  background: #dbdddb;
  padding-left: 20px;
  padding-bottom: 2em;
}
#search-job{
  margin-top: 1em;
}
.sort-by{
  font-size: 20px;
}
.skills-form > label{
  display: block;
  margin: 0.5em auto;
}
.other-options{
  margin: 1em auto;
}

input[type=checkbox], input[type=radio] {
  margin: 10px 0 0 !important;
  margin-top: 1px ;
  line-height: normal;
}

.skill-checks{
  margin-left: 1em;
}



/*==========----JOB BOARD JOB LISTINGS----=======*/

.prof-pic{
  height: 100px;
  width: 100px;
  float: left;
  margin: 1em;
  background: white;
}
.prof-pic img{
  height: 100%;
  width: 100%;
}

.skill-1{
  background: darkred;
}
.skill-2{
  background: darkblue;
}
.skill-3{
  background: lightyellow;
}
.skill-4{
  background: lightgreen;
}

.listing-buttons{
  margin: 0 auto 20px;
  padding-bottom: 1em;  
  text-align: center;
  font-family: 'Exo 2', serif;
}

.button:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.view-profile{
  background: #B5B7B6;
  width: 200px;
  font-size: 1.4em;
  color: #606060;
  border: none;
  padding: 0.51em 2em;
}


.fa-star{
  float:right;
  color: #33ADE1;
  cursor: pointer;
}
.fa-star:hover{
  color:gold;
}

/*====----- left column -----=======*/

/*vertical list of jobs*/
.jobs-list{
  list-style: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0;
}

/*inidividual job in list*/
.job{
  height: 200px;
  list-style-type: none;
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
}
.job:last-child{
  border-bottom: none;
}
.active-job{
  background-color:#CED3CF;
}
/*default job title*/
.job-title{
  background-color: #CED3CF;
  text-align: left;
  margin-top: 0;
  padding: 0.4em;
}

/*job title attention needed*/
.job-title-attn{
  background-color: #BE2E2E;
  cursor: pointer;
}
.fa-exclamation{
  position: absolute;
  top: 4px;
  right: 7px;
  font-size: 3em;
  color: white;
}

.job-title-review{
  background-color: red;
}
.start-date{
  display: block;
  text-align: left;
  padding: 0.4em;
}
.client-email{
  display: block;
  text-align: left;
  padding: 0.4em;
  color: black;
  font-weight: 600;
}

/*pop up in the right top corner*/
.job-notifications{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
  border-radius: 0 0 0 10px;
  border-left: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-top: none;
  border-right: none;
  line-height: 0.2em;
}

/*hide the notification controls until clicked */
.notification-controls{
  position: absolute;
  top: 19px;
  right: 0;
  z-index: 9;
  list-style-type: none;
  color: white;
  display: none;
  margin: 0;
  padding: 0;
  background-color: #D0D2CF;
  border: 1px solid darkgrey;
  text-align: center;
}
.mark-complete,
.hold-job {
  list-style-type: none;
  text-align: left;
  padding-right: 1em;
  background-color: #D0D2CF;
  border-bottom: 1px solid white;
  padding: 1em 1em;
}
.mark-complete:hover,
.hold-job:hover {
  background-color: white;
  cursor: pointer;
} 

.mark-complete > a,
.hold-job > a  {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

/*button to view job*/
.view-job,
input.next.action-button{
  display: block;
  margin: 1em auto;
  background-color: #0089C5;
  color: white;
  border-radius: 0;
  padding: 0.4em 2em;
}
.submit{
  background-color: #0089C5;
}

/*====----- middle column -----=======*/
.job-post{
  padding: 0;
  border: 1px solid;
  border-top: 1px solid lightgrey;
  border-bottom: none;
}

.job-post > .column-title {
  width: 100%;
  background-color: rgba(255,255,255,0.92);
  color: black;
}


/*job post column title*/
.column-title{
  text-align: center;
  margin: 0;
  padding: 0.2em;

}
.selected-job-title{
  font-weight: 100;
  text-align: center;
  background-color: #DFE1DE;
}

.job-post-container{
  position: absolute;
}
.title{
  margin-top: 12px;
}
.skills-widgets-left{
  margin: 0 auto;
  width: 100%;
}

.skill-qual-left{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 1em;
  margin-bottom: 1em;
  background: lightblue;
  border: 2px solid;
  vertical-align: middle;
}

.job-description{
  background: white;
  margin: 2em 1em;
  border:1px solid black;
  border-top: 1px solid;
}
.job-description p {
  width: 86%;
  margin: 2em auto;
}

/*====----- right column -----=======*/
.client-discussion,
.create-job-post{
  border-top: 1px solid lightgrey;
  position: static;
  padding: 0;
}

/*fixed conversation header*/
.client-discussion > .column-title,
{
  position: absolute;
  width: 50%;
  background-color: rgba(255,255,255,0.92);
  color: black;
  z-index: 9;
}
/*conversation section*/
.convo-top{
  max-height: 66%;
  position: absolute;
  margin: 0 1em;
  overflow: auto;
}
.user-message{
  float: right;
  width: 80%;
  clear: both;
}
.user-message > p{
  background-color: #0089C5;
  padding: 0.5em;
  margin: 0.4em auto;
}
.author{
  margin-top: 1em;
  margin-bottom: 0.0em;
}
.user-message > .author{
  text-align: right;
}
.member-reply{
  float: left;
  width: 80%;
  clear: both;
}
.member-reply > p {
  margin: 0.4em auto;
  padding: 0.5em;
  background-color: lightgrey;
}
.member-reply > .author{
  text-align: left;
}

.author >h5 {
  display: inline-block;
  margin-left: 1em;
}


/*If Attention is Needed Instead of Client Discussion Show the Client Rating*/
.client-rating{
  border-top: 1px solid lightgrey;
  position: static;
  padding: 0;
}

/*fixed conversation header*/
.client-rating > .column-title{
  position: absolute;
  width: 50%;
  background-color: rgba(255,255,255,0.92);
  color: black;
  z-index: 9;
}
/*conversation section*/
.convo-top{
  max-height: 66%;
  position: absolute;
  margin: 0 1em;
  overflow: auto;
}



/*===--- REPLY SECTION BOTTOM OF CONVERSATION SECTION ---=====*/

.reply-section{
  text-align: center;
  background-color: grey;
  position: relative;
  bottom: 0;
  position: absolute;
  width: 50%;
  z-index: 9;
  height: 33.3333%;
}
.reply-text{
  width: 300px;
  height: 70%;
  margin-top: 2%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: transparent;
}
/*buttons*/
.reply-bottom{
  width: 300px;
  background-color: white;
  margin: 0 auto;
  height: 20%;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.reply-bottom > label > span{
  line-height: 33px;
}

input[type=file]{
    display: none;
    cursor: pointer;
}
.add-files {
  background: #DDD;
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 0;
  border: none;
  border-radius: 0;
}
.add-files:hover {
    background: #CCC;
}
.add-files:active {
    background: #CCF;
}

.send{
  position: absolute;
  right: 0;
  height: 100%;
  width: 100px;
  background-color: #1A7EBA;
  color: white;
  border-radius: 0;
  margin: 0;
  border:none;
}



/*max height*/
.job-post,
.jobs-list,
.client-discussion{
  max-height: 100%;
  overflow: auto;
}


.mobile{
  display: none;
}


/*====----- MOBILE STYLES -=======*/
.mobile{
  font-family: 'Exo 2', sans-serif;
  margin: 1em auto;
}
#mobile-container{
  margin: 1em auto;
}

/*job title*/
.panel-default > .panel-job-heading{
  background-color: #0089C5;
}
.panel-heading{
  border-radius: 0;
}
.panel{
  border:none;
  margin: 0;
}

/*title at the beginning of each new job ex JOB 1*/
.mbl-job-title{
  background-color: #0089C5;
  margin: 0;
  border-bottom: 1px solid white;
}
.mbl-job-title > a{
  color: white;
  font-family: 'Exo 2', serif;
  font-size: 1.3em;
}

/*discussion-title and description title*/
.mbl-disc-title,
.mbl-desc-title{
  background-color: darkgrey;
  margin: 0;
  border-bottom: 1px solid;
}
.mbl-disc-title > a ,
.mbl-desc-title > a{
  color: #000;
  font-family: 'Exo 2', serif;
}



/*=====------- CLIENT RATING ====-------*/
/*star rating*/
.rating{
  unicode-bidi: bidi-override;
  display: inline-block;
  margin:0 2em;
}

.review-middle{
  text-align: center;
  margin-top: 3em;
}

.rating > span {
  color: #0081B5;
  cursor: pointer;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin: 1em auto;
}

.rating-text{
  display: block;
  width: 100%;
  height: 86px;
  text-align: left;
  margin-bottom: 1em;
}

/*button to submit post*/

.post{
  display: block;
  margin: 1em auto;
  background-color: #0089C5;
  color: white;
  border-radius: 0;
  padding: 0.4em 2em;
  float: right;
}

/*=====------- CREATE JOB POSTING ====-------*/
#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  font-family: 'Exo 2', serif;
  width: 100px;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin-top: 2em;
  float: right;
  margin-right: 1em;
}
#msform .action-button:hover, #msform .action-button:focus {
  background-color: darkgrey;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: '';
  counter-increment: step;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 100%;
  border:1.5px solid #0089C5;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #0089C5;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #0089C5;
  color: white;
  border-radius: 100%;
}

/*STEP 1 */

/*yes or no check box*/
.yesOrNo{
  display: block;
}
.checkbox-inline, .radio-inline{
  position: relative;
  display: inline-block;
  /* padding-left: 20px; */
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: baseline;
  cursor: pointer;
  line-height: 2px;
}

.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 0; 
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}





/*/*media queries*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
  
  .desktop{
    display: none;
  } 
  .mobile{
    display: block;
  }
  .convo-top{
    position: relative;

  }
  .reply-section{
    text-align: center;
    background-color: grey;
    position: relative;
    bottom: 0;
    z-index: 9;
    height: 200px;
    width: 100%;
  }
  .client-discussion > .column-title{
    width: 100%;
    position: relative;
  }
  /*dropdown body*/
  .panel-body{
    padding: 0;
  }
  .panel-group .panel+.panel {
  margin-top: 0px;
  } 

}


@media only screen and (max-width: 970px){
  
/*  media queries for responsiveness so page goes from 3 columns to stackable dropdowns*/
  .desktop{
    display: none;
  } 
  .mobile{
    display: block;
  }
  .convo-top{
    position: relative;

  }
  .reply-section{
    text-align: center;
    background-color: grey;
    position: relative;
    bottom: 0;
    z-index: 9;
    height: 200px;
    width: 100%;
  }
  .client-discussion > .column-title{
    width: 100%;
    position: relative;
  }
  /*dropdown body*/
  .panel-body{
    padding: 0;
  }
  .panel-group .panel+.panel {
  margin-top: 0px;
  } 
}








/*===------ MEDIA QUERIES -----======*/
/* IPAD */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	.pull-right{
		display: none ;
	}
	.online-members{
		text-align: center;
	}
}

/* MOBILE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
	
		html, body {
		overflow-x:hidden 
	} 
	
	.member-board-title,
	.discussion-board-title,
	.job-board-title{
		text-align:center;
	}
		
  .bid-now{
		background: black;
		width:200px;
		border: none;
		padding: 1em 2em;
		color:white;
		margin-left: 0;
		margin-top:0.5em; 
  }
  .wrapper {
		width: 94%;
		margin: 0 auto;
  }
	#home-md-cta-block,
	#home-jb-cta-block,
	#home-db-cta-block{
		margin-bottom: 1em;
		background-position: center;
	}
	/* 	position login/setting widget to the top right vertically on mobile */
	#top-right-widgets{
		position: absolute;
		top: -2%;
		right: 7%;
		z-index: 99;
	}
	#top-right-widgets > li {
		display: block;
		text-align:center;
		font-size:1.4em;
		border-right:none;
	}
	.settings-item {
		list-style-type: none;
		font-family: 'Exo 2', serif;
		font-size: 1.3em;
		text-align: center;
		border-bottom: 1px solid darkgray;
		padding-bottom: 0.2em;
	}
	.usr-msg-img {
		display: block;
		margin: 0 auto;
		float: none;
		border-radius: 100%;
		border: 1px solid black;
	}
	.col-md-offset-3{
		float:right;
	}
}

@media (min-width: 768px){
/* 	align dropdown form control */
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: top !important;
  }
}


@media (max-width: 720px){
	html, body {
		overflow-x:hidden 
	} 
  .bid-now{
  background: black;
  width:200px;
  border: none;
  padding: 1em 2em;
  color:white;
  margin-left: 0em;
  margin-top:0.5em; 
  }
  .wrapper {
    width: 94%;
    margin: 0 auto;
  }
	#home-md-cta-block,
	#home-jb-cta-block,
	#home-db-cta-block{
		margin-bottom: 1em;
		background-position: center;
	}
	/* 	position login/setting widget to the top right vertically on mobile */
	#top-right-widgets{
		position: absolute;
		top: -2%;
		right: 7%;
		z-index: 99;
	}
	#top-right-widgets > li {
		display: block;
		text-align:center;
		font-size:1.4em;
		border-right:none;
	}
	.settings-item {
		list-style-type: none;
		font-family: 'Exo 2', serif;
		font-size: 1.3em;
		text-align: center;
		border-bottom: 1px solid darkgray;
		padding-bottom: 0.2em;
	}
	.usr-msg-img {
		display: block;
		margin: 0 auto;
		float:none;
		border-radius: 100%;
		border: 1px solid black;
	}
	.col-md-offset-3{
		float:right;
	}
}
@media (max-width: 1000px){
  .skills-form{
    display: none;
  }
  .skills-dropdown-container{
    display: block;
  }
  .skills-bars{
    display: inline-block;
    cursor: pointer;
  }
	#home-md-cta-block,
	#home-jb-cta-block,
	#home-db-cta-block{
		margin-bottom: 1em;
		background-position: center;
	}
}